---
import '../styles/global.css';
import NavMenu from '../components/NavMenu.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title} | Aiatolah</title>
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- SEO & Internacionalização (Googlebot e Programática) -->
		<link rel="alternate" hreflang="pt-br" href="https://aiatolah.com/pt" />
		<link rel="alternate" hreflang="en" href="https://aiatolah.com/en" />
		<link rel="alternate" hreflang="x-default" href="https://aiatolah.com/en" />

		<!-- Open Graph / Social -->
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />

		<!-- Google AdSense -->
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8991943608456423"
			 crossorigin="anonymous"></script>
	</head>
	<body>
		<NavMenu />
		<slot />
	</body>
</html>
